body {
    background-color: #9aa18f;
    margin: 0;
}

.layout {
    width: 100%;
}

.header {
    background-color: #6f775f;
    color: white;
    text-align: center;
}

.logo {
    width: 80px;
    display: block;
    margin: 10px auto;
}

.nav {
    background-color: #8a9079;
    text-align: center;
    padding: 10px;
}

.nav a {
    color: darkred;
    margin: 0 15px;
    font-weight: bold;
}

.content td {
    vertical-align: top;
    padding: 10px;
}

.left,
.center,
.right {
    background-color: #e6e9dc;
}

.left {
    width: 25%;
}

.center {
    width: 50%;
    background-color: #e6e9dc;
    text-align: center;
}

.center>ul {
    display: inline-block;
}



.center ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
    text-align: left;
}

.center ul ul {
    padding-left: 25px;
    margin-top: 5px;
}




.right {
    width: 25%;
    text-align: center;
}

.box {
    background-color: #f5f5f5;
    border: 1px solid #777;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.box input[type="text"],
.box input[type="password"] {
    width: 90%;
    margin-bottom: 5px;
}

.login-btn {
    width: 80px;
}

.profile-img {
    width: 150px;
}

.footer {
    background-color: #6f775f;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer a {
    color: red;
}