body {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: bisque;
}

img {
  max-width: 100%;
  height: auto;
}

table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 8px;
  width: 100%;
}