
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,div,span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div h1{
    margin: auto;
    text-align: center;
}
