<div class="movie-grid">
  @for (movie of movies; track $index) {
    <div class="movie-card" [routerLink]="'/product/' + movie.id">
      
      <div class="poster-wrapper">       
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" 
             [alt]="movie.title" 
             class="movie-img" />
        <div class="rating-badge">
          ⭐ {{movie.vote_average}}
        </div>
      </div>

      <div class="card-details">
        <div class="header-row">
          <h3 class="title" [title]="movie.title">{{movie.title}}</h3>
          <span class="price">${{movie.price}}</span>
        </div>
        
        <!-- <p class="genre">{{movie.}}</p> -->
        
        <div class="footer-row">
          <span class="stock-status" 
                [ngClass]='{"text-danger": movie.stock === 0, "text-success": movie.stock && movie.stock > 0}'>
            @if (movie.stock && movie.stock !== 0) {
              {{ movie.stock + ' left'}}
            } @else {
              Sold Out
            }
          </span>
          
          <button class="btn-glow" 
                  routerLink="/cart">
            Add +
          </button>
        </div>
      </div>

    </div>
  }
</div>