<footer class="footer-section bg-dark text-white py-5" id="contact">
  <div class="container">
    
    
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h2 class="mb-4">Get In Touch</h2>
        
        <div class="contact-info mb-4">
          <a [href]="'mailto:' + email" class="text-white text-decoration-none">
            <i ></i> {{ email }}
          </a>
        </div>
        
        <div class="social-links ">

          <a [href]="socialMedia.github" target="_blank" class="social-icon" title="GitHub">
            <i class="bi bi-github"></i>
          </a>
          <a [href]="socialMedia.linkedin" target="_blank" class="social-icon" title="LinkedIn">
            <i class="bi bi-linkedin"></i>
          </a>

        </div>
      </div>
    </div>
    
 
    
  </div>
</footer>