<nav class=" navbar navbar-expand-lg navbar-dark movie-navbar">
  <div class="container-fluid   ">
    
    <a class="navbar-brand" routerLink="/products">
  POV<span class="brand-plus">++</span>
</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto gap-3 test"> 
        @for (link of links; track $index) {
          <li class="nav-item">
            <a
              class="nav-link px-3 rounded movie-link"
              [routerLink]="link.path"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{exact: true}"
            >
              {{ link.name }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>